# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

PORT=3001

DATABASE_URL="mysql://USER:PASSWORD@HOST:PORT/DATABASE"
DB_HOST=""
DB_NAME=""
DB_PASSWORD=""
DB_PORT=

JWT_SECRET_ACCESS_TOKEN=""
JWT_SECRET_REFRESH_TOKEN=""
JWT_RESET_PASSWORD_SECRET=""

JWT_AT_EXPIRES_IN=""
JWT_RT_EXPIRES_IN=""

MAIL_HOST=
MAIL_PORT=
MAIL_USER=""
MAIL_PASSWORD=""
MAIL_TLS=false

FRONTEND_URL=""